/*Header Style Start*/

header {
    margin: 0;
    border-bottom: 2px solid black;
   h1 {
    margin: 0;
    padding: .5em 0;
    color: black;
    font-family: 'Luckiest Guy', cursive;
    background-image: url("../image_uploads/ball.jpeg");

    } 
}
 

nav{
    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        li {
            padding-bottom: 0.5em;
            }
        }
    }

